.Anagrafica{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
}


.AnagraficaList #header{
    background-color: hsl(16, 78%, 52%);
    color:white;
    border-radius: 100%;
}
.AnagraficaList{
    margin-top:0px;
}
 
td{
    padding-right: 25px;
}

.Anagrafica .title{
    flex-direction: row;
    display: flex;
    
}

#CreaBtn1{
    width: 150px;
    height: 50px;
    margin-left: 540px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding: 5px;
  }

  h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 5px;
  }

  .title h1{
      margin-top:10px;
     
  }

  .AnagraficaList #icon{
      color: gray;
      
  }

  #row{
    position: relative;
    top:10px;
  }
  .AnagraficaList{
    margin-left:20px;
  }

 