.Topbar {
    width: 100vw;
    height: 64px;
    background: #E45826;
  }
.Topbar #logo{
    background-image: url("logo.png");
    position: relative;
    top:15px;
    left: 20px;
    width: 36px;
    height: 36px;
    background-color: aqua;
    place-items: center;
    border-radius: 4px;
}