.NuovoTesserato{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
}

.NuovoTesserato .title{
    flex-direction: row;
    display: flex;
}

#salvaBtn{
    height: 50px;
    width: 150px;
    margin-left: 400px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding: 5px;
  }

  h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 5px;
  }

  .title h1{
      margin-top:10px;
     
  }

  label{
    position: relative;
    top:10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color:#E97537; 
    background-color: white;
    margin-bottom: 0;

    z-index: 1;
}

#ruolo{
    
    height: 60px;
    width: 340px;
    border: 3px solid #E97537;
    border-radius: 15px; 
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin-top: 0;
}

td{
    width:300px;
}